* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

body {
    background-color: #7aacff;
    width: 100svw;
    height: 100svh;
    position: relative;
}

#container {
    display: none;
    position: absolute;
    overflow: hidden;
    --imagesCount: 5;
    height: 70%;
    position: absolute;
    top: 15%;
}

.slider-wrapper {
    margin: 0;
    float: left;
    position: relative;
    width: calc(100% * var(--imagesCount));
    height: 100%;
    transition-duration: 1000ms;
}

.slider-wrapper[no-transition] {
    transition: none;
}

.slider-wrapper[half-transition-time] {
    transition-duration: 500ms;
}

img {
    float: left;
    height: 100%;
    width: calc(100% / var(--imagesCount));
    object-fit: scale-down;
}

#intro-modal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    max-width: 90%;
    width: 30em;
    text-align: left;
    max-height: 90vh;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.button-container {
    position: relative;
    margin: 2rem;
}

.start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.start-button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
        0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

