* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7aacff;
    width: 100svw;
    height: 100svh;
    position: relative;
}

#container {
    display: none;
    position: absolute;
    overflow: hidden;
    --imagesCount: 5;
    height: 70%;
    position: absolute;
    top: 15%;
}

.slider-wrapper {
    margin: 0;
    float: left;
    position: relative;
    width: calc(100% * var(--imagesCount));
    height: 100%;
    transition-duration: 1000ms;
}

.slider-wrapper[no-transition] {
    transition: none;
}

.slider-wrapper[half-transition-time] {
    transition-duration: 500ms;
}

img {
    float: left;
    height: 100%;
    width: calc(100% / var(--imagesCount));
    object-fit: scale-down;
}

#intro-modal {
    padding: 10px;
    margin: auto;
}
